<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }} - Pickup basketball</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#banner" class="button next scrolly">Hello</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>About Us</h2>
                </header>
                <p>I am a businessman trying to unite thousands of people for a passion towards sports. I want to raise the youth of Puerto Rico through something positive like basketball. Creating a website through which they can search for people nearby through the location and register which will cost 25 dollars per person, creating groups of 5 people and participate in a tournament every week in different fields of the island. It will be published every Monday where will be taking each tournament which will be on Saturdays. There will be prizes for the first winning team of each tournament.</p>
                <ul class="actions">
                    <li><a href="#two" class="button next">About Us - Comming Soon.</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
